@-moz-document domain(google.com) {
    * {
      border-color: #657b83 !important;
    }
    a {
      color: #268bd2 !important;
    }
    a:visited {
      color: #6c71c4 !important;
    }
    body {
      background-color: #002b36 !important;
      color: #839496 !important;
    }
    html {
      background-color: #002b36 !important;
    }
    input,
    textarea {
      background-color: #073642 !important;
      color: #839496 !important;
    }
    blockquote,
    pre {
      background-color: #073642 !important;
      color: #839496 !important;
    }
    .sfbgg {
      background-color: #073642 !important;
    }
    .sbib_a {
      background: linear-gradient(to bottom, #073642, #002b36) !important;
    }
    input#lst-ib,
    #sb_ifc0.sbib_b,
    #gs_taif0 {
      background: transparent !important;
    }
    #lst-ib,
    .sbsb_a {
      background-color: #002b36 !important;
    }
    .kpbb {
      background-image: linear-gradient(to bottom, #59a9e1, #268bd2) !important;
    }
    #hdtbSum {
      background-color: #002b36 !important;
    }
    #hdtbMenus.hdtb-td-o {
      background-color: #002b36 !important;
    }
    #hdtb-tls.hdtb-tl {
      background-image: linear-gradient(to bottom, #002b36, #073642) !important;
    }
    #hdtb-tls.hdtb-tl.hdtb-tl-sel {
      background-image: linear-gradient(to bottom, #073642, #002b36) !important;
    }
    #abar_button_opt.ab_button {
      background: linear-gradient(to bottom, #002b36, #073642) !important;
    }
    #appbar {
      background-color: #002b36 !important;
    }
    cite {
      color: #859900 !important;
    }
    .ab_dropdown {
      background-color: #002b36 !important;
    }
    div.crp {
      background-color: #002b36 !important;
    }
    #fbar {
      background-color: #073642 !important;
    }
}

@-moz-document domain(reddit.com) {
    * {
      border-color: #657b83 !important;
    }
    a {
      color: #268bd2 !important;
    }
    a:visited {
      color: #6c71c4 !important;
    }
    body {
      background-color: #002b36 !important;
      color: #839496 !important;
    }
    html {
      background-color: #002b36 !important;
    }
    input,
    textarea {
      background-color: #073642 !important;
      color: #839496 !important;
    }
    blockquote,
    pre {
      background-color: #073642 !important;
      color: #839496 !important;
    }
    #sr-header-area {
      background-color: #073642 !important;
    }
    #sr-header-area .srdrop .selected {
      color: #839496 !important;
    }
    #sr-header-area #sr-more-link {
      background-color: #073642 !important;
    }
    .link.promotedlink.promoted {
      background-color: #073642 !important;
    }
    .link .usertext .md {
      background-color: #073642 !important;
    }
    .linkinfo {
      background-color: #073642 !important;
    }
    .linklisting .odd {
      background-color: #073642 !important;
    }
    .thing .title {
      color: #839496 !important;
    }
    div.md {
      color: #839496 !important;
    }
    body.comment {
      background-color: #002b36 !important;
    }
    .commentarea > .usertext {
      background-color: #002b36 !important;
    }
    .commentarea .menuarea {
      background-color: #002b36 !important;
    }
    .comments-page .panestack-title {
      background-color: #002b36 !important;
    }
    .listing-chooser {
      background-color: #002b36 !important;
    }
    .listing-chooser .intro {
      background-color: #586e75 !important;
      color: #93a1a1 !important;
    }
    .listing-chooser .grippy {
      background-color: #002b36 !important;
    }
    .listing-chooser .grippy:after {
      border-right: none !important;
    }
    .listing-chooser li {
      background-color: #073642 !important;
    }
    .listing-chooser li.selected {
      background-color: #586e75 !important;
      box-shadow: none;
    }
    .listing-chooser li a {
      color: #839496 !important;
    }
    .listing-chooser li a .description {
      color: #93a1a1 !important;
    }
    .titlebox {
      background-color: #073642 !important;
    }
    .titlebox form.toggle {
      background-color: #073642 !important;
      color: #839496 !important;
    }
    .side .usertext-body .md {
      background-color: #073642 !important;
    }
    .side {
      background-color: #073642 !important;
    }
    .sidebox .spacer {
      background-color: #073642 !important;
      color: #93a1a1 !important;
    }
    .tabmenu li a {
      background-color: #073642 !important;
    }
    #header-bottom-right {
      background-color: #073642 !important;
    }
    .morelink .nub {
      background-color: #073642 !important;
    }
}

@-moz-document domain(wikipedia.org) {
    * {
      border-color: #657b83 !important;
    }
    a {
      color: #268bd2 !important;
    }
    a:visited {
      color: #6c71c4 !important;
    }
    body {
      background-color: #002b36 !important;
      color: #839496 !important;
    }
    html {
      background-color: #002b36 !important;
    }
    input,
    textarea {
      background-color: #073642 !important;
      color: #839496 !important;
    }
    blockquote,
    pre {
      background-color: #073642 !important;
      color: #839496 !important;
    }
    body * {
      border-color: #094352 !important;
    }
    #content {
      background-color: #002b36 !important;
      color: #839496 !important;
    }
    #mw-head,
    #mw-panel {
      background-color: #073642 !important;
      color: #93a1a1 !important;
    }
    #mw-head div.portal,
    #mw-panel div.portal {
      background-image: none !important;
    }
    #mw-head {
      background-color: #073642 !important;
      background-image: linear-gradient(to bottom, #002b36, #073642) !important;
    }
    #mw-panel,
    #p-logo {
      background-image: linear-gradient(to right, #002b36, #073642) !important;
    }
    div.vectorTabs {
      background-image: linear-gradient(to bottom, #002b36, #073642) !important;
    }
    div.vectorTabs ul {
      background-image: linear-gradient(to bottom, #002b36, #073642) !important;
    }
    div.vectorTabs ul li {
      background-color: #073642 !important;
      background-image: none !important;
      padding: 0px 1px 0px 1px !important;
    }
    div.vectorTabs span {
      background-color: #073642 !important;
      background-image: linear-gradient(to bottom, #002b36, #073642) !important;
    }
    div.vectorTabs li.selected,
    div.vectorTabs li.selected span {
      background-color: transparent !important;
      background-image: linear-gradient(to bottom, #073642, #002b36) !important;
    }
    .mw-wiki-logo {
      filter: opacity(50%);
    }
    div#simpleSearch #searchInput {
      background-color: #002b36 !important;
      padding: 0.05em 0px 0.2em 0.2em !important;
    }
    .ambox,
    .infobox,
    #toc,
    #toctitle,
    .toclevel-1 {
      background-color: #073642 !important;
      border-color: #094352 !important;
      color: #93a1a1 !important;
    }
    .catlinks {
      background-color: #073642 !important;
      border-color: #094352 !important;
      color: #93a1a1 !important;
    }
    .navbox {
      background-color: #073642 !important;
      border-color: #094352 !important;
      color: #93a1a1 !important;
    }
    .navbox .th,
    .navbox .navbox-title {
      background-color: #094352 !important;
    }
    .navbox-abovebelow,
    th.navbox-group,
    .navbox-subgroup,
    .navbox-title {
      background-color: #083c4a !important;
    }
    .navbox-even {
      background-color: #002b36 !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-color: #094352 !important;
      color: #93a1a1 !important;
    }
    code {
      background-color: #094352 !important;
      border-color: #094352 !important;
      color: #93a1a1 !important;
    }
    div.thumbinner {
      background-color: #073642 !important;
      border-color: #094352 !important;
    }
    img {
      filter: opacity(75%);
    }
    img.thumbimage {
      border-color: #094352 !important;
    }
    .mw-body .external {
      opacity: 0.5 !important;
    }
    table.wikitable {
      background-color: #002b36 !important;
      border-color: #094352 !important;
      color: #839496 !important;
    }
    table.wikitable > * > tr > th {
      background-color: #073642 !important;
    }
}

@-moz-document domain(stackexchange.com) {
    * {
      border-color: #657b83 !important;
    }
    a {
      color: #268bd2 !important;
    }
    a:visited {
      color: #6c71c4 !important;
    }
    body {
      background-color: #002b36 !important;
      color: #839496 !important;
    }
    html {
      background-color: #002b36 !important;
    }
    input,
    textarea {
      background-color: #073642 !important;
      color: #839496 !important;
    }
    blockquote,
    pre {
      background-color: #073642 !important;
      color: #839496 !important;
    }
    hr {
      background-color: #094352 !important;
      color: #094352 !important;
    }
    .bounty-indicator,
    .bounty-indicator-tab {
      background-color: #6c71c4 !important;
    }
    .bottom-notice {
      background-color: #073642 !important;
    }
    .comments-link {
      color: #859900 !important;
    }
    .page-numbers {
      background-color: #859900 !important;
      color: #eee8d5 !important;
    }
    .page-numbers.current {
      background-color: #cb4b16 !important;
      color: #002b36 !important;
    }
    .post-menu a {
      color: #6c71c4 !important;
    }
    .question-status {
      background-color: #073642 !important;
    }
    .bg-black-050 {
      background-color: transparent !important;
    }
    .val-info {
      background-color: transparent !important;
      color: #839496 !important;
    }
    .s-label {
      color: #839496 !important;
    }
    pre code {
      background-color: #073642 !important;
      color: #93a1a1 !important;
    }
    pre code .atn {
      color: #268bd2 !important;
    }
    pre code .atv {
      color: #2aa198 !important;
    }
    pre code .com {
      color: #586e75 !important;
    }
    pre code .kwd {
      color: #859900 !important;
    }
    pre code .lit {
      color: #d33682 !important;
    }
    pre code .pln,
    pre code .pun {
      color: #839496 !important;
    }
    pre code .str {
      color: #2aa198 !important;
    }
    pre code .tag {
      color: #859900 !important;
    }
    pre code .typ {
      color: #b58900 !important;
    }
    #footer {
      background-color: #083c4a !important;
      color: #839496 !important;
    }
    #footer #footer-sites th {
      color: #93a1a1 !important;
    }
    .top-footer-links a {
      color: #859900 !important;
    }
    .so-header {
      background-color: #094352 !important;
      color: #93a1a1 !important;
    }
    .so-header a {
      color: #859900 !important;
    }
    .so-header .navigation .-list .-item :hover {
      background-color: #859900 !important;
      color: #fdf6e3 !important;
    }
    .topbar-dialog {
      background-color: #002b36 !important;
      box-shadow: #586e75 5px 5px 5px;
    }
    .topbar-dialog .current-site-container {
      background-color: #002b36 !important;
    }
    .topbar-dialog .header {
      background-color: #073642 !important;
    }
    .topbar-dialog .header a {
      color: #93a1a1 !important;
    }
    .topbar-dialog .site-link {
      color: #93a1a1 !important;
    }
    #header {
      background-color: #094352 !important;
    }
    #question-header .question-hyperlink {
      color: #93a1a1 !important;
    }
    #hlogo a {
      filter: opacity(75%);
    }
    .new-post-activity {
      background-color: #073642 !important;
    }
    .tagged-interesting {
      background-color: #094352 !important;
    }
    div.answered-accepted {
      background-color: #859900 !important;
      color: #eee8d5 !important;
    }
    div.answered-accepted .mini-counts {
      background-color: #859900 !important;
      color: #eee8d5 !important;
    }
    .answered .mini-counts span {
      color: #859900 !important;
    }
    .unanswered .mini-counts span {
      color: #839496 !important;
    }
    #hot-network-questions a {
      color: #2aa198 !important;
    }
    #hot-network-questions h4 a.js-gps-track {
      color: #93a1a1 !important;
    }
    #sidebar .community-bulletin .bulletin-item-content a {
      color: #93a1a1 !important;
    }
    #sidebar .module.community-bulletin {
      background-color: #073642 !important;
      color: #93a1a1 !important;
    }
    #sidebar .question-hyperlink {
      color: #2aa198 !important;
    }
    .newuser {
      background-color: #073642 !important;
      color: #93a1a1 !important;
    }
    .label-key {
      color: #839496 !important;
    }
    .label-key b {
      color: #93a1a1 !important;
    }
    #h-chat-link {
      color: #93a1a1 !important;
    }
    .ad502-room {
      background-color: #073642 !important;
      box-shadow: #586e75 0px 1px 3px;
      color: #93a1a1 !important;
    }
    #tabs a {
      background-color: transparent !important;
      background-image: linear-gradient(to bottom, #002b36, #073642);
      color: #93a1a1 !important;
    }
    #tabs a.youarehere {
      background-image: linear-gradient(to bottom, #cb4b16, #002b36);
      color: #fdf6e3 !important;
    }
    .post-tag {
      background-color: #586e75 !important;
      color: #002b36 !important;
    }
    .post-tag::before {
      background-color: #002b36 !important;
    }
    a.comment-user.owner {
      background-color: #859900 !important;
      color: #eee8d5 !important;
    }
    .post-signature {
      background-color: #073642 !important;
      color: #93a1a1 !important;
    }
    .post-signature a {
      color: #2aa198 !important;
    }
    .post-signature.owner .user-info .user-details a {
      color: #859900 !important;
    }
    .post-signature span.relativetime {
      color: #93a1a1 !important;
    }
    .vote {
      background-color: #073642 !important;
    }
    .vote .star-off {
      filter: opacity(75%);
    }
    .vote .star-on {
      filter: opacity(50%) !important;
    }
    .vote .vote-down-off,
    .vote .vote-up-off {
      filter: opacity(50%);
    }
    .answer-votes {
      background-color: #586e75 !important;
      color: #002b36 !important;
    }
}
