[Desktop Entry]
Categories=GTK;AudioVideo;Audio;
Comment=Audio Effects for PipeWire Applications
DBusActivatable=true
Exec=easyeffects --gapplication-services
GenericName=Equalizer, Compressor and Other Audio Effects
Icon=com.github.wwmm.easyeffects
Keywords=limiter;compressor;reverberation;equalizer;autovolume;
Name=Easy Effects
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
